all:
  isics_http_cache_plugin:
    esi:
      enabled:      false
      allowed_ips:  [127.0.0.1, "::1"]
      sf_web_debug: false
    servers:
        - { address: 127.0.0.1, port: 80 }

  varnish:
    host: 'localhost'
    port: '6082'
    secret: 'b523f2c7-4c6f-4178-b470-3d99ef5c8974'

prod:
  isics_http_cache_plugin:
    esi:
      enabled:     true

